<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="mb-4">About</h1>
      <p>This web app was created by Dominic Carroll in June 2025 and is open source.</p>
      <p>Shortfalls of <a href="https://www.accessdata.fda.gov/scripts/cder/daf/index.cfm">Drugs@FDA</a> that this app tries to overcome or improve:
      <ul>
        <li>Grab the most recent label with less clicks</li>
        <li>Coverage of both CBER and CDER drugs</li>
        <li>Indexed by product instead of application</li>
        <li>Easy partial matches of both brand and generic names</li>
      </ul>
      </p>
      <p>
        Feature roadmap:
        <ul>
          <li>Approval date in meta data</li>
          <li>Search by manufacturer / MoA / indication (separate tabs)</li>
        </ul>
      </p>
    </div>
  </div>
</div>